body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #cae8ca;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 0;
}

form {
    background-color: white;
    width: 350px;
    margin: 20px auto;
    padding-left: 50px;
    padding-right: 70px;
    border: 1px solid #ccc;

}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 2px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

#tutor {
    display: none;
    background-color: #e7f5e7;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
}

#inici{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-bottom: 20px;
}
#thx {
    color:black;
}
a{
    text-decoration: none;
}

