#figure1 {
    padding: 1px;
    border: solid black 1px;
    height: 170px;
    width: 150px;
}
#figure2 {
    padding: 25px;
    border: solid black 5px;
    height: 25px;
}
#figure3 {
    margin: 30px;
    padding: 1px;
    border: solid pink 1px;
    height: 20px;
}
#figure4 {
    padding: 10px;
    border-radius: 10px;
    border: solid turquoise 2px;
    height: 100px;
    width: 400px;
}
#figure5 {
    padding-left: 25px;
    border: solid black 1px;
}
#figure6 {
    margin-left: 25px;
    border: solid black 1px;
}
#figure7 {
    margin-top: 20px;
    margin-left: 45%;
    padding: 20px;
    border-radius: 10px;
    border: solid skyblue 3px;
    height: 80px;
    width: 80px;
}