header {
    background-color: black;
    color: white;
    height: 200px;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 50px;
    text-align: center;
}

h1 {
    font-size: 50px;
}

a {
    color: white;
    margin: 15px;
}

img {
    margin: 10px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 600px) {
    header {
        background-color: black;
        color: white;
        padding-bottom: 150px;
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    nav {
        display: flex;
        flex-direction: column;

        a {
            margin: 1px;
            text-align: center;
        }
    }
}

#gallery {

    text-align: center;

}











