html {
    font-family: sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
    background-color: #f0f5f0;
    overflow-x: hidden; /*para que sea pantalla completa*/
    background-image: url("photo-1659051635205-ac0d05db052e (1).jpg");
}
/*top*/
#cap {
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
}

h1 {
    font-style: revert;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    color: limegreen;
    margin-left: 20px;
}

a {
    text-decoration: none;

}

#botons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    position: absolute;
    top: 20px;
    right: 15px;
}

#botons a {
    color: darkolivegreen;

}

/*contacta*/
section{
    background-color: #cae8ca; /* Color de fons del formulari */
    border-radius: 20px; /* Arrodonir els costats */
    padding: 20px; /* Espai intern */
    width: 300px; /* Ample del formulari */
    margin-top: 50px;
    align-items: center;
    align-content: center;
    position: absolute;
    top: auto;
    left: auto;


}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgreen;
    color: white;
    font-size: 11px;
    text-align: center;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#final a {
    color: white;
}
