html {
    font-family: sans-serif;
    line-height: 1.5;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f0f5f0;

}
/*top*/
#cap {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
    z-index: 3;
}

h1 {
    font-style: revert;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    color: limegreen;
    margin-left: 20px;
}

a {
    text-decoration: none;

}

#botons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
    position: absolute;
    top: 20px;
    right: 15px;
}

#botons a {
    color: darkolivegreen;

}

#introducció {
    font-size: 30px;
    text-align: left;
    padding-top: 80px;
}

article {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    margin: 20px;


}
/*imatge animals*/
#paragraf {
    text-align: right;
}
#animals {
    float: left;
    margin-right: 10px;
    margin-top: 20px;


}

/*top */
article{
    margin: 20px;
}
#titol {
    position: relative;
    font-size: 30px;
    text-align: center;
}

.animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: solid 3px;
    background-image: url("agua-gotas-naturaleza-plantas-wallpaper-preview.jpg");
    background-size: cover;
    list-style: none;
    margin: 20px;
    text-align: center;
    left: auto;
    right: auto;
    z-index: 2;
    position: relative;
}

.animal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.animal > * {
    position: relative;
    z-index: 2;
}
.animal img{
    display: block;
    margin: 0;
    z-index: 1;
}
.animal p{
    color: black;
    z-index: 1;
}

#container{
    display: flex;
    justify-content: center;
}

footer {
    background-color: darkgreen;
    width: 100%;
    color: white;
    font-size: 11px;
    text-align: center;
    padding: 10px;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#final a {
    color: white;
}


